@import '../../../common.styl'

.screenWrapper
  flex: 1 1;
  height: 90vh;
  overflow: hidden;
  overflow-y: auto;
.screen
  background white
  padding: 24px;
.table
  background white
.head
  background white
  position: sticky;
  top: 0px;
.row
  display flex
  padding: 10px;
  border-bottom: 1px solid #bbb;
.row > div 
  flex 1
.body
  background white
.pagination
  bottom: 3px;
  right: 0px;
  width: calc(100% - 86px);
  background: #fff;
  position: absolute;
  display: flex;
  justify-content: space-evenly;
  padding-top: 28px;
  padding-bottom: 28px;